<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cj.dao.UserMapper">
    <resultMap id="baseResultMap" type="com.cj.entity.User">
        <id column="id" property="id" jdbcType="VARCHAR"></id>
        <result column="userName" property="userName" jdbcType="VARCHAR"></result>
        <result column="email" property="email" jdbcType="VARCHAR"></result>
        <result column="password" property="password" jdbcType="VARCHAR"></result>
    </resultMap>
    <sql id="base_column">
        id, userName, email, password
    </sql>

    <insert id="addUser" parameterType="com.cj.entity.User">
        INSERT INTO user(id, userName, email, password) VALUES (#{id, jdbcType=VARCHAR},#{userName, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR})
    </insert>

    <select id="findbyId" resultMap="baseResultMap" parameterType="java.lang.String">
        SELECT <include refid="base_column"/> FROM user u WHERE u.userName = #{userName, jdbcType=VARCHAR}
    </select>

    <select id="findAll" resultMap="baseResultMap">
        SELECT <include refid="base_column"/> FROM user
    </select>

    <select id="findByuserNameAndPass" resultType="com.cj.entity.User" parameterType="java.lang.String">
        SELECT <include refid="base_column"/> FROM user u
        WHERE u.userName = #{userName, jdbcType=VARCHAR}
        AND u.password = #{password, jdbcType=VARCHAR}
    </select>



</mapper>